* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.sobre {
  width: 62%;
  margin: 0 auto;
  color: black;
  padding: 20px 0;
}

.title {
  width: 100%;
}

.title h2 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 4px solid #343564;
  padding-bottom: 10px;
}

.sobre p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  line-height: 35px;
  color: black;
}

.sobre a {
  color: #0004ff;
}

.sobre-imgs {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 10vw);
  grid-gap: 35px;
}

.img1 {
  background-image: url(../images/5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img2 {
  background-image: url(../images/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img3 {
  background-image: url(../images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.img4 {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}

.img5 {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.img6 {
  background-image: url(../images/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 7;
}

.img7 {
  background-image: url(../images/8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

@media screen and (max-width: 1024px) {
  .sobre {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .sobre {
    width: 80%;
  }

  .sobre-imgs {
    grid-gap: 20px;
  }
}

@media screen and (max-width: 530px) {
  .title h2 {
    font-size: 30px;
  }

  .sobre-imgs {
    grid-gap: 10px;
  }
}